# --------------------------------------------
# Entornos virtuales (venv, env)
# --------------------------------------------
venv/
env/
.venv/
ENV/

# --------------------------------------------
# Archivos de configuración sensible
# --------------------------------------------
.env

# --------------------------------------------
# Data
# --------------------------------------------
data/raw/WhatsApp/*
data/raw/Telegram/*
data/processed/*

# --------------------------------------------
# Reports
# --------------------------------------------
reports/*.pbix
reports/*.PBIX

# --------------------------------------------
# Pycache, compilados y logs
# --------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# --------------------------------------------
# Configuración de IDE/Editor
# --------------------------------------------
.vscode/
.idea/
*.swp
*.swo

# --------------------------------------------
# Archivos del sistema operativo
# --------------------------------------------
.DS_Store
Thumbs.db